<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.notebook.dao.UserInfoMapper" >
	<!-- 用户 -->
    <resultMap id="UserInfoResultMap" type="com.notebook.entities.UserInfo" >
        <id column="USER_ID" property="userId" jdbcType="BIGINT" />
        <result column="UUID" property="uuid" jdbcType="BIGINT" />
        <result column="USERNAME" property="username" jdbcType="VARCHAR" />
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
        <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
        <result column="SALT" property="salt" jdbcType="VARCHAR" />
        <result column="STATE" property="state" jdbcType="BIGINT" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="LOGIN_DATE" property="loginDate" jdbcType="TIMESTAMP" />
    </resultMap>
        
    <!-- 角色 -->
    <resultMap type="com.notebook.entities.UserInfo" id="userRoleList"
        extends="UserInfoResultMap">
        <collection property="roles" ofType="com.notebook.entities.SysRole">
            <id column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
	        <result column="ROLE" property="role" jdbcType="VARCHAR" />
	        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
	        <result column="ROLE_STATE" property="roleState" jdbcType="BIGINT" />
	        <!-- 权限 -->
	        <collection property="permissions" ofType="com.notebook.entities.SysPermission">
	            <id column="PERMISSION_ID" property="permissionId" jdbcType="BIGINT" />
		        <result column="PERMISSION_NAME" property="permissionName" jdbcType="VARCHAR" />
		        <result column="PERMISSION_STR" property="permissionStr" jdbcType="VARCHAR" />
		        <result column="RESOURCE_TYPE" property="resourceType" jdbcType="VARCHAR" />
		        <result column="RESOURCE_URL" property="resourceUrl" jdbcType="VARCHAR" />
	        </collection>
        </collection>
    </resultMap>
    
	<!-- adminIndexModel -->
	<resultMap id="adminIndexModel" type="com.notebook.model.admin.AdminIndexModel" >
        <result column="NEW_EVENT_NUM" property="newEventNUM" jdbcType="BIGINT" />
        <result column="ACTIVE_USER_NUM" property="activeUserNUM" jdbcType="BIGINT" />
        <result column="NEW_USER_NUM" property="newUserNUM" jdbcType="BIGINT" />
        <result column="ALL_USER_NUM" property="allUserNUM" jdbcType="BIGINT" />
    </resultMap>
    
    <!-- 获取-管理员首页model数据 -->
	<select id="selectAdminIndexModel" resultMap="adminIndexModel"  >
       SELECT
			SUM(TD1) AS 'NEW_EVENT_NUM',SUM(TD2) AS 'ACTIVE_USER_NUM',SUM(TD3) AS 'NEW_USER_NUM',SUM(TD4) AS 'ALL_USER_NUM'
		FROM(
			SELECT COUNT(NOTE_ID) AS 'TD1',0 AS 'TD2',0 AS 'TD3',0 AS 'TD4' FROM USER_NOTE WHERE TO_DAYS(USER_NOTE.CREATE_DATE) = TO_DAYS(now())
			UNION ALL
			SELECT 0 AS 'TD1',COUNT(USER_ID) AS 'TD2',0 AS 'TD3',0 AS 'TD4' FROM USER_INFO WHERE TO_DAYS(USER_INFO.LOGIN_DATE) = TO_DAYS(now())
			UNION ALL
			SELECT 0 AS 'TD1',0 AS 'TD2',COUNT(USER_ID) AS 'TD3',0 AS 'TD4' FROM USER_INFO WHERE DATEDIFF(USER_INFO.CREATE_DATE,NOW())=-1
			UNION ALL
			SELECT 0 AS 'TD1',0 AS 'TD2',0 AS 'TD3',COUNT(USER_ID) AS 'TD4' FROM USER_INFO
			)adminIndexModel
    </select>
    
    <!-- 查询用填充数据 -->
    <sql id="Base_Column_List" >
        ID, USERNAME, PASSWORD, NICKNAME, SALT, STATE, CREATE_DATE, LOGIN_DATE
    </sql>

	<!-- 获取所有用户数据 -->
    <select id="selectAllUser" resultMap="UserInfoResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM USER_INFO
    </select>
    
    <!-- 获取所有用户数据(包括角色信息) -->
    <select id="selectAllUserAndRole" resultMap="userRoleList">
        SELECT U.*,R.* FROM USER_INFO U 
		LEFT JOIN MD_USER_ROLE UR ON U.ID=UR.USER_ID 
		LEFT JOIN SYS_ROLE R ON R.ID=UR.ROLE_ID;
    </select>
    
    <!--  根据pagemodel和条件查询用户数据 -->
    <select id="selectUsersByPageAndCondition" resultMap="UserInfoResultMap">
	    SELECT * FROM USER_INFO 
		<where>
		  ${ew.sqlSegment}
		</where>
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 获取用户数据(包括角色和权限)，根据username -->
	<select id="selectUserInfoByUsername" resultMap="userRoleList">
		SELECT U.*,R.*,P.* FROM USER_INFO U 
		LEFT JOIN MD_USER_ROLE UR ON U.USER_ID=UR.USER_ID 
		LEFT JOIN SYS_ROLE R ON R.ROLE_ID=UR.ROLE_ID
		LEFT JOIN MD_ROLE_PERMISSION RP ON R.ROLE_ID=RP.ROLE_ID
		LEFT JOIN SYS_PERMISSION P ON RP.PERMISSION_ID=P.PERMISSION_ID
		WHERE U.USERNAME=#{username}
    </select>
	
</mapper>