.replyLetter{		
    border: none;
    background: none;
    font-size: 1em;
    margin-top: 0.5em;
    color: #fd5c63;
    outline: none;
    font-weight: 600;
}

.hidden_button{
	visibility:hidden;
}

@media screen and (max-device-width: 400px) {
 
	.mobileTableFont{
		font-size:1px;
	}
	
	.hidden_button{
		visibility:visible;
	}
}